.card {
  text-decoration: none;
  overflow: hidden;
  position: relative;
  background-color: var(--surface-01);
  transition: all var(--move-medium);
  width: auto;
  border: var(--elevation-outlined);
  border-radius: var(--br-medium);
}
.card img {
  width: 100%;
  height: auto;
  transition: all var(--move-slow);
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 24vh;
  overflow: hidden;
}

.card:hover {
  background-color: var(--surface-02);
  text-decoration: none;
  box-shadow: var(--elevation-02);
}

.background-image {
  transition: var(--move-slow);
}
.card:hover .image {
  transform: scale(1.1);
}

.card-text-container {
  padding: 16px 16px 24px;
}

.card h1 {
  color: var(--text-hc);
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
}

.card span {
  font-size: 16px;
  color: var(--text-vlc);
}
