#nav-bar {
  overflow: hidden;
  background-color: var(--surface-00);
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--lines);
  transition: all var(--move-medium);
}

.nav-bar-inner {
  padding: 16px 0px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.nav-links-group {
  padding-right: 24px;
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-logo {
  height: auto;
  padding-left: 24px;
}

.nav-image {
  height: 48px;
}

.nav-links-group {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  color: var(--text-lc);
  margin-right: 16px;
}

.nav-link:hover {
  background-color: rgba(var(--text-vlc), 0.5);
  color: var(--text-hc);
  text-decoration: none;
}

/* media query styles */
@media screen and (max-width: 991px) {
  .nav-bar-inner {
    padding: 16px;
    align-items: center;
    flex-direction: column;
  }

  .nav-logo {
    padding: 0px;
  }

  .nav-link {
    margin-bottom: 0px;
    font-size: 14px;
    margin-right: 8px;
  }

  .nav-links-group {
    align-items: center;
    margin-top: 8px;
    margin-right: 0px;
  }
}
