.section {
  margin-top: 120px;
  width: auto;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 24px;
}

@media screen and (max-width: 959px) {
  .section {
    margin-top: 172px;
    width: auto;
    padding: 0px 16px;
  }
}
