.section {
  width: auto;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 24px;
}

@media screen and (max-width: 959px) {
  .section {
    width: auto;
    padding: 16px;
  }
}
