.footer {
  color: var(--text-vlc);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  max-width: 1000px;
  margin: 64px auto 0px;
  padding: 32px 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: transparent;
}

.social-container {
  padding-right: 24px;
  display: flex;
  flex-direction: row;
}
.social-link {
  text-align: right;
  margin-left: 32px;
  color: var(--primary);
}

.status-copyright-container {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.status-container {
  margin-bottom: 16px;
}

/* media query for mobile */
@media screen and (max-width: 959px) {
  .footer {
    align-items: center;
    flex-direction: column-reverse;
  }

  .social-container {
    padding: 0px 16px;
    margin-bottom: 32px;
    align-self: center;
  }

  .social-link {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
  }

  .status-copyright-container {
    padding: 0px 16px;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
