.footer {
  color: var(--text-vlc);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 32px 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.social-container {
  display: flex;
  flex-direction: row;
}
.social-link {
  text-align: right;
  margin-left: 32px;
  color: var(--primary);
}
.figma-logo {
  height: 14px;
}

.react {
  color: #53c1de;
}

.status-container {
  margin-bottom: 16px;
}

.status-copyright-container {
  display: flex;
  flex-direction: column;
}

/* media query for mobile */
@media screen and (max-width: 959px) {
  .footer {
    align-items: center;
    flex-direction: column-reverse;
  }

  .social-container {
    margin-bottom: 32px;
    align-self: center;
  }

  .social-link {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
  }

  .status-copyright-container {
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
