.container {
  display: inline;
  box-sizing: auto;
  border-left: solid 1px var(--text-vlc);
}

/* The switch - the box around the slider */
.switch {
  margin-left: 32px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232633;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}
.little-img {
  padding: 4px;
  height: 15px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #232633;
}

input:focus + .slider:before {
  box-shadow: 0px 0px 2px 3px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: #ffffff;

  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 959px) {
  .switch {
    margin-left: 24px;
  }
}
