.container {
  font-size: 12px;
  color: var(--text-vlc);
  padding-left: 32px;
  display: inline;
  box-sizing: auto;
  border-left: solid 1px var(--lines);
}

/* The switch - the box around the slider */
.switch {
  border-radius: 24px;
  margin-left: 16px;
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bfbfbf;
  -webkit-transition: var(--move-fast);
  transition: var(--move-fast);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: var(--move-fast);
  transition: var(--move-fast);
  box-shadow: 0px 2px 4px rgba(0, 35, 11, 0.2);
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
  background: #ffffff;

  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 959px) {
  .switch {
    margin-left: 24px;
  }

  .container {
    padding-left: 24px;
  }
}
